.fullName-order {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  color: black;
}
.cost-order {
  text-align: center;
}
.info-address {
  .ant-col-12 {
    height: 120px;
    padding: 5px;
    border: 1px solid #d8d8d8;
    color: black;
  }
}
.note-order{
  text-align: center;
  margin: 20px;
}
.listUser-order {
  height: 50px;
  line-height: 75px;
}